fastapi
uvicorn[standard]==0.27.0.post1
pydantic
pydantic[email]
pydantic-settings==2.2.1
python-dotenv
python-multipart
numpy
scikit-learn
SQLAlchemy==1.4.54
alembic==1.8
asyncpg==0.30.0
psycopg2-binary
PyJWT==2.8
passlib[bcrypt]==1.7
fastapi-limiter==0.1.6
aioredis==2.0
redis
starlette
pyyaml==6.0
pytesseract
Pillow
firebase-admin
google-cloud-storage
spacy
transformers
Babel
python-jose[cryptography]
httpx
requests
google-cloud-vision
google-auth
google-api-python-client
pytest
pytest-asyncio
pytest-cov

openai
boto3
rq
rq-scheduler
apns2
sentry-sdk
prometheus-client
