{
  "openapi": "3.1.0",
  "info": {
    "title": "MITA Finance API",
    "version": "1.0.0",
    "description": "Comprehensive financial management API with AI-powered insights, spending prevention, and behavioral analytics",
    "contact": {
      "name": "MITA Finance API Support",
      "email": "api-support@mita.finance"
    },
    "license": {
      "name": "MIT License",
      "url": "https://opensource.org/licenses/MIT"
    }
  },
  "servers": [
    {
      "url": "https://api.mita.finance",
      "description": "Production server"
    },
    {
      "url": "http://localhost:8000",
      "description": "Development server"
    }
  ],
  "tags": [
    {"name": "Authentication", "description": "User authentication and authorization"},
    {"name": "Users", "description": "User profile management"},
    {"name": "Transactions", "description": "Financial transactions and receipt processing"},
    {"name": "Budget", "description": "Budget management and tracking"},
    {"name": "Goals", "description": "Financial goals and progress tracking"},
    {"name": "Dashboard", "description": "Dashboard and overview data"},
    {"name": "Financial", "description": "Financial summaries and balance"},
    {"name": "Analytics", "description": "Spending analytics and trends"},
    {"name": "Insights", "description": "AI-powered financial insights"},
    {"name": "AI", "description": "AI financial assistant"},
    {"name": "Calendar", "description": "Financial calendar and daily budgets"},
    {"name": "Notifications", "description": "Push notifications and preferences"},
    {"name": "OCR", "description": "Receipt OCR processing"},
    {"name": "IAP", "description": "In-app purchases validation"},
    {"name": "Habits", "description": "Financial habits tracking"},
    {"name": "Challenges", "description": "Financial challenges and gamification"},
    {"name": "Health", "description": "System health checks"},
    {"name": "Admin", "description": "Admin endpoints for monitoring"}
  ],
  "paths": {
    "/api/auth/register": {
      "post": {
        "tags": ["Authentication"],
        "summary": "Register new user account",
        "description": "Create a new user account with email and password",
        "operationId": "register",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserRegister"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "User successfully registered",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/login": {
      "post": {
        "tags": ["Authentication"],
        "summary": "Login with email and password",
        "description": "Authenticate user and receive JWT token",
        "operationId": "login",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserLogin"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid credentials"
          }
        }
      }
    },
    "/api/auth/refresh": {
      "post": {
        "tags": ["Authentication"],
        "summary": "Refresh authentication token",
        "description": "Get new access token using refresh token",
        "operationId": "refresh_token",
        "security": [{"BearerAuth": []}],
        "responses": {
          "200": {
            "description": "Token refreshed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/logout": {
      "post": {
        "tags": ["Authentication"],
        "summary": "Logout current session",
        "operationId": "logout",
        "security": [{"BearerAuth": []}],
        "responses": {
          "200": {
            "description": "Successfully logged out"
          }
        }
      }
    },
    "/api/users/me": {
      "get": {
        "tags": ["Users"],
        "summary": "Get current user profile",
        "operationId": "get_current_user",
        "security": [{"BearerAuth": []}],
        "responses": {
          "200": {
            "description": "User profile data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserProfile"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Users"],
        "summary": "Update current user profile",
        "operationId": "update_current_user",
        "security": [{"BearerAuth": []}],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User profile updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserProfile"
                }
              }
            }
          }
        }
      }
    },
    "/api/transactions/": {
      "get": {
        "tags": ["Transactions"],
        "summary": "List user transactions",
        "description": "Get paginated list of user transactions with filtering",
        "operationId": "list_transactions",
        "security": [{"BearerAuth": []}],
        "parameters": [
          {
            "name": "skip",
            "in": "query",
            "schema": {"type": "integer", "default": 0}
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {"type": "integer", "default": 100, "maximum": 1000}
          },
          {
            "name": "start_date",
            "in": "query",
            "schema": {"type": "string", "format": "date-time"}
          },
          {
            "name": "end_date",
            "in": "query",
            "schema": {"type": "string", "format": "date-time"}
          },
          {
            "name": "category",
            "in": "query",
            "schema": {"type": "string"}
          }
        ],
        "responses": {
          "200": {
            "description": "List of transactions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Transaction"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Transactions"],
        "summary": "Create new transaction",
        "description": "Create a new financial transaction with budget impact assessment",
        "operationId": "create_transaction",
        "security": [{"BearerAuth": []}],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TransactionCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Transaction created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Transaction"
                }
              }
            }
          }
        }
      }
    },
    "/api/transactions/{transaction_id}": {
      "get": {
        "tags": ["Transactions"],
        "summary": "Get transaction by ID",
        "operationId": "get_transaction",
        "security": [{"BearerAuth": []}],
        "parameters": [
          {
            "name": "transaction_id",
            "in": "path",
            "required": true,
            "schema": {"type": "string", "format": "uuid"}
          }
        ],
        "responses": {
          "200": {
            "description": "Transaction details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Transaction"
                }
              }
            }
          },
          "404": {
            "description": "Transaction not found"
          }
        }
      },
      "put": {
        "tags": ["Transactions"],
        "summary": "Update transaction",
        "operationId": "update_transaction",
        "security": [{"BearerAuth": []}],
        "parameters": [
          {
            "name": "transaction_id",
            "in": "path",
            "required": true,
            "schema": {"type": "string", "format": "uuid"}
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TransactionUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transaction updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Transaction"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Transactions"],
        "summary": "Delete transaction",
        "operationId": "delete_transaction",
        "security": [{"BearerAuth": []}],
        "parameters": [
          {
            "name": "transaction_id",
            "in": "path",
            "required": true,
            "schema": {"type": "string", "format": "uuid"}
          }
        ],
        "responses": {
          "204": {
            "description": "Transaction deleted"
          }
        }
      }
    },
    "/api/transactions/check-affordability": {
      "post": {
        "tags": ["Transactions"],
        "summary": "Check if user can afford transaction (PREVENTIVE)",
        "description": "Real-time spending prevention - check budget before transaction",
        "operationId": "check_affordability",
        "security": [{"BearerAuth": []}],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AffordabilityCheckRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Affordability check result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AffordabilityCheckResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/transactions/budget-status": {
      "get": {
        "tags": ["Transactions"],
        "summary": "Get current budget status",
        "description": "Get budget status for all categories with remaining amounts",
        "operationId": "get_budget_status",
        "security": [{"BearerAuth": []}],
        "parameters": [
          {
            "name": "date",
            "in": "query",
            "schema": {"type": "string", "format": "date"}
          }
        ],
        "responses": {
          "200": {
            "description": "Budget status by category",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BudgetStatusResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/transactions/receipt": {
      "post": {
        "tags": ["Transactions"],
        "summary": "Process receipt with OCR",
        "description": "Upload receipt image for OCR processing (async)",
        "operationId": "process_receipt",
        "security": [{"BearerAuth": []}],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Receipt processing started",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "job_id": {"type": "string"},
                    "status": {"type": "string"}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/budget/": {
      "get": {
        "tags": ["Budget"],
        "summary": "Get user's active budget",
        "operationId": "get_budget",
        "security": [{"BearerAuth": []}],
        "responses": {
          "200": {
            "description": "Current budget",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Budget"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Budget"],
        "summary": "Create new budget plan",
        "operationId": "create_budget",
        "security": [{"BearerAuth": []}],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BudgetCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Budget created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Budget"
                }
              }
            }
          }
        }
      }
    },
    "/api/goals/": {
      "get": {
        "tags": ["Goals"],
        "summary": "List user's goals",
        "operationId": "list_goals",
        "security": [{"BearerAuth": []}],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["active", "completed", "abandoned"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of goals",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Goal"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Goals"],
        "summary": "Create financial goal",
        "operationId": "create_goal",
        "security": [{"BearerAuth": []}],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GoalCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Goal created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Goal"
                }
              }
            }
          }
        }
      }
    },
    "/api/goals/{goal_id}": {
      "get": {
        "tags": ["Goals"],
        "summary": "Get goal by ID",
        "operationId": "get_goal",
        "security": [{"BearerAuth": []}],
        "parameters": [
          {
            "name": "goal_id",
            "in": "path",
            "required": true,
            "schema": {"type": "string", "format": "uuid"}
          }
        ],
        "responses": {
          "200": {
            "description": "Goal details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Goal"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Goals"],
        "summary": "Update goal",
        "operationId": "update_goal",
        "security": [{"BearerAuth": []}],
        "parameters": [
          {
            "name": "goal_id",
            "in": "path",
            "required": true,
            "schema": {"type": "string", "format": "uuid"}
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GoalUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Goal updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Goal"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Goals"],
        "summary": "Delete goal",
        "operationId": "delete_goal",
        "security": [{"BearerAuth": []}],
        "parameters": [
          {
            "name": "goal_id",
            "in": "path",
            "required": true,
            "schema": {"type": "string", "format": "uuid"}
          }
        ],
        "responses": {
          "204": {
            "description": "Goal deleted"
          }
        }
      }
    },
    "/api/dashboard/overview": {
      "get": {
        "tags": ["Dashboard"],
        "summary": "Get dashboard overview",
        "description": "Comprehensive dashboard data including balance, goals, transactions, and budget status",
        "operationId": "get_dashboard_overview",
        "security": [{"BearerAuth": []}],
        "responses": {
          "200": {
            "description": "Dashboard overview data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DashboardOverview"
                }
              }
            }
          }
        }
      }
    },
    "/api/financial/summary": {
      "get": {
        "tags": ["Financial"],
        "summary": "Get financial summary",
        "operationId": "get_financial_summary",
        "security": [{"BearerAuth": []}],
        "parameters": [
          {
            "name": "period",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["day", "week", "month", "year"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Financial summary",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FinancialSummary"
                }
              }
            }
          }
        }
      }
    },
    "/api/analytics/spending": {
      "get": {
        "tags": ["Analytics"],
        "summary": "Get spending analytics",
        "operationId": "get_spending_analytics",
        "security": [{"BearerAuth": []}],
        "parameters": [
          {
            "name": "period",
            "in": "query",
            "schema": {"type": "string"}
          },
          {
            "name": "category",
            "in": "query",
            "schema": {"type": "string"}
          },
          {
            "name": "group_by",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["day", "week", "month", "category"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Spending analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SpendingAnalytics"
                }
              }
            }
          }
        }
      }
    },
    "/api/insights/": {
      "get": {
        "tags": ["Insights"],
        "summary": "Get personalized financial insights",
        "description": "AI-generated insights and recommendations",
        "operationId": "get_insights",
        "security": [{"BearerAuth": []}],
        "responses": {
          "200": {
            "description": "Financial insights",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Insight"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/ai/chat": {
      "post": {
        "tags": ["AI"],
        "summary": "Chat with AI financial assistant",
        "operationId": "ai_chat",
        "security": [{"BearerAuth": []}],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AIChatRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "AI response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AIChatResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/calendar/": {
      "get": {
        "tags": ["Calendar"],
        "summary": "Get financial calendar",
        "operationId": "get_calendar",
        "security": [{"BearerAuth": []}],
        "parameters": [
          {
            "name": "month",
            "in": "query",
            "schema": {"type": "integer", "minimum": 1, "maximum": 12}
          },
          {
            "name": "year",
            "in": "query",
            "schema": {"type": "integer"}
          }
        ],
        "responses": {
          "200": {
            "description": "Financial calendar data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Calendar"
                }
              }
            }
          }
        }
      }
    },
    "/api/notifications/list": {
      "get": {
        "tags": ["Notifications"],
        "summary": "Get user notifications",
        "operationId": "list_notifications",
        "security": [{"BearerAuth": []}],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {"type": "integer", "default": 50}
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {"type": "integer", "default": 0}
          },
          {
            "name": "unread_only",
            "in": "query",
            "schema": {"type": "boolean", "default": false}
          }
        ],
        "responses": {
          "200": {
            "description": "List of notifications",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationList"
                }
              }
            }
          }
        }
      }
    },
    "/api/notifications/register-device": {
      "post": {
        "tags": ["Notifications"],
        "summary": "Register device for push notifications",
        "operationId": "register_device",
        "security": [{"BearerAuth": []}],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeviceRegistration"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Device registered"
          }
        }
      }
    },
    "/api/ocr/process": {
      "post": {
        "tags": ["OCR"],
        "summary": "Process receipt with OCR",
        "operationId": "process_receipt_ocr",
        "security": [{"BearerAuth": []}],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OCR result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OCRResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/iap/validate": {
      "post": {
        "tags": ["IAP"],
        "summary": "Validate in-app purchase receipt",
        "operationId": "validate_iap",
        "security": [{"BearerAuth": []}],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IAPValidationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Validation result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IAPValidationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/habits/": {
      "get": {
        "tags": ["Habits"],
        "summary": "List user habits",
        "operationId": "list_habits",
        "security": [{"BearerAuth": []}],
        "responses": {
          "200": {
            "description": "List of habits",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Habit"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Habits"],
        "summary": "Create financial habit",
        "operationId": "create_habit",
        "security": [{"BearerAuth": []}],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HabitCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Habit created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Habit"
                }
              }
            }
          }
        }
      }
    },
    "/api/challenge/": {
      "get": {
        "tags": ["Challenges"],
        "summary": "List available challenges",
        "operationId": "list_challenges",
        "security": [{"BearerAuth": []}],
        "responses": {
          "200": {
            "description": "List of challenges",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Challenge"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/health/external-services": {
      "get": {
        "tags": ["Health"],
        "summary": "Check external services health",
        "operationId": "check_external_services",
        "responses": {
          "200": {
            "description": "External services status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthStatus"
                }
              }
            }
          }
        }
      }
    },
    "/health": {
      "get": {
        "tags": ["Health"],
        "summary": "Detailed health check",
        "operationId": "health_check",
        "responses": {
          "200": {
            "description": "System health status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthStatus"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "JWT authentication token"
      }
    },
    "schemas": {
      "UserRegister": {
        "type": "object",
        "required": ["email", "password"],
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "description": "User email address"
          },
          "password": {
            "type": "string",
            "minLength": 8,
            "description": "User password (minimum 8 characters)"
          },
          "name": {
            "type": "string",
            "description": "User full name"
          },
          "country": {
            "type": "string",
            "default": "US"
          },
          "annual_income": {
            "type": "number",
            "default": 0
          },
          "timezone": {
            "type": "string",
            "default": "UTC"
          }
        }
      },
      "UserLogin": {
        "type": "object",
        "required": ["email", "password"],
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "password": {
            "type": "string"
          }
        }
      },
      "TokenResponse": {
        "type": "object",
        "properties": {
          "access_token": {
            "type": "string",
            "description": "JWT access token"
          },
          "refresh_token": {
            "type": "string",
            "description": "Refresh token for obtaining new access tokens"
          },
          "token_type": {
            "type": "string",
            "default": "bearer"
          },
          "expires_in": {
            "type": "integer",
            "description": "Token expiration time in seconds"
          }
        }
      },
      "UserProfile": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "name": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "annual_income": {
            "type": "number"
          },
          "timezone": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "premium": {
            "type": "boolean"
          }
        }
      },
      "UserUpdate": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "country": {
            "type": "string"
          },
          "annual_income": {
            "type": "number"
          },
          "timezone": {
            "type": "string"
          }
        }
      },
      "Transaction": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "amount": {
            "type": "number",
            "minimum": 0,
            "maximum": 100000
          },
          "category": {
            "type": "string",
            "enum": ["food", "dining", "groceries", "transportation", "gas", "public_transport", "entertainment", "shopping", "clothing", "healthcare", "insurance", "utilities", "rent", "mortgage", "education", "childcare", "pets", "travel", "subscriptions", "gifts", "charity", "other"]
          },
          "description": {
            "type": "string"
          },
          "merchant": {
            "type": "string"
          },
          "spent_at": {
            "type": "string",
            "format": "date-time"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "user_id": {
            "type": "string",
            "format": "uuid"
          }
        }
      },
      "TransactionCreate": {
        "type": "object",
        "required": ["amount", "category"],
        "properties": {
          "amount": {
            "type": "number",
            "minimum": 0.01,
            "maximum": 100000
          },
          "category": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "merchant": {
            "type": "string"
          },
          "spent_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "TransactionUpdate": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number"
          },
          "category": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "merchant": {
            "type": "string"
          }
        }
      },
      "AffordabilityCheckRequest": {
        "type": "object",
        "required": ["category", "amount"],
        "properties": {
          "category": {
            "type": "string",
            "description": "Transaction category"
          },
          "amount": {
            "type": "number",
            "minimum": 0.01,
            "description": "Transaction amount"
          },
          "date": {
            "type": "string",
            "format": "date-time",
            "description": "Optional transaction date"
          }
        }
      },
      "AffordabilityCheckResponse": {
        "type": "object",
        "properties": {
          "can_afford": {
            "type": "boolean",
            "description": "Whether user can afford this transaction"
          },
          "budget_remaining": {
            "type": "number",
            "description": "Remaining budget in category"
          },
          "warnings": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "suggestions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "BudgetStatusResponse": {
        "type": "object",
        "properties": {
          "categories": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "properties": {
                "budget": {"type": "number"},
                "spent": {"type": "number"},
                "remaining": {"type": "number"},
                "percentage_used": {"type": "number"}
              }
            }
          }
        }
      },
      "Budget": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "categories": {
            "type": "object",
            "description": "Budget amounts by category"
          },
          "period": {
            "type": "string",
            "enum": ["daily", "weekly", "monthly"]
          },
          "start_date": {
            "type": "string",
            "format": "date"
          },
          "user_id": {
            "type": "string",
            "format": "uuid"
          }
        }
      },
      "BudgetCreate": {
        "type": "object",
        "required": ["categories", "period"],
        "properties": {
          "categories": {
            "type": "object",
            "description": "Budget amounts by category"
          },
          "period": {
            "type": "string",
            "enum": ["daily", "weekly", "monthly"]
          },
          "start_date": {
            "type": "string",
            "format": "date"
          }
        }
      },
      "Goal": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "target_amount": {
            "type": "number"
          },
          "current_amount": {
            "type": "number",
            "default": 0
          },
          "deadline": {
            "type": "string",
            "format": "date"
          },
          "category": {
            "type": "string"
          },
          "progress_percentage": {
            "type": "number"
          },
          "status": {
            "type": "string",
            "enum": ["active", "completed", "abandoned"]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "GoalCreate": {
        "type": "object",
        "required": ["name", "target_amount", "deadline"],
        "properties": {
          "name": {
            "type": "string"
          },
          "target_amount": {
            "type": "number",
            "minimum": 0.01
          },
          "current_amount": {
            "type": "number",
            "default": 0
          },
          "deadline": {
            "type": "string",
            "format": "date"
          },
          "category": {
            "type": "string"
          }
        }
      },
      "GoalUpdate": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "target_amount": {
            "type": "number"
          },
          "current_amount": {
            "type": "number"
          },
          "deadline": {
            "type": "string",
            "format": "date"
          },
          "status": {
            "type": "string",
            "enum": ["active", "completed", "abandoned"]
          }
        }
      },
      "DashboardOverview": {
        "type": "object",
        "properties": {
          "balance": {
            "type": "number"
          },
          "monthly_income": {
            "type": "number"
          },
          "monthly_expenses": {
            "type": "number"
          },
          "savings_rate": {
            "type": "number"
          },
          "active_goals": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Goal"
            }
          },
          "recent_transactions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Transaction"
            }
          },
          "budget_status": {
            "$ref": "#/components/schemas/BudgetStatusResponse"
          }
        }
      },
      "FinancialSummary": {
        "type": "object",
        "properties": {
          "total_income": {
            "type": "number"
          },
          "total_expenses": {
            "type": "number"
          },
          "net_savings": {
            "type": "number"
          },
          "savings_rate": {
            "type": "number"
          },
          "period": {
            "type": "string"
          }
        }
      },
      "SpendingAnalytics": {
        "type": "object",
        "properties": {
          "total_spending": {
            "type": "number"
          },
          "by_category": {
            "type": "object"
          },
          "trends": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "Insight": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "priority": {
            "type": "string",
            "enum": ["low", "medium", "high"]
          },
          "actionable": {
            "type": "boolean"
          }
        }
      },
      "AIChatRequest": {
        "type": "object",
        "required": ["message"],
        "properties": {
          "message": {
            "type": "string"
          },
          "conversation_history": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "AIChatResponse": {
        "type": "object",
        "properties": {
          "response": {
            "type": "string"
          },
          "suggestions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "Calendar": {
        "type": "object",
        "properties": {
          "month": {
            "type": "integer"
          },
          "year": {
            "type": "integer"
          },
          "days": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "date": {"type": "string", "format": "date"},
                "budget": {"type": "number"},
                "spent": {"type": "number"},
                "remaining": {"type": "number"}
              }
            }
          }
        }
      },
      "NotificationList": {
        "type": "object",
        "properties": {
          "notifications": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {"type": "string", "format": "uuid"},
                "title": {"type": "string"},
                "message": {"type": "string"},
                "type": {"type": "string"},
                "read": {"type": "boolean"},
                "created_at": {"type": "string", "format": "date-time"}
              }
            }
          },
          "total": {
            "type": "integer"
          },
          "unread_count": {
            "type": "integer"
          }
        }
      },
      "DeviceRegistration": {
        "type": "object",
        "required": ["token", "platform"],
        "properties": {
          "token": {
            "type": "string",
            "description": "FCM or APNS device token"
          },
          "platform": {
            "type": "string",
            "enum": ["ios", "android"]
          },
          "device_id": {
            "type": "string"
          },
          "device_name": {
            "type": "string"
          }
        }
      },
      "OCRResult": {
        "type": "object",
        "properties": {
          "merchant": {
            "type": "string"
          },
          "total": {
            "type": "number"
          },
          "date": {
            "type": "string",
            "format": "date"
          },
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {"type": "string"},
                "price": {"type": "number"}
              }
            }
          },
          "confidence": {
            "type": "number",
            "minimum": 0,
            "maximum": 1
          }
        }
      },
      "IAPValidationRequest": {
        "type": "object",
        "required": ["receipt", "platform"],
        "properties": {
          "receipt": {
            "type": "string",
            "description": "Base64 encoded receipt data"
          },
          "platform": {
            "type": "string",
            "enum": ["ios", "android"]
          }
        }
      },
      "IAPValidationResponse": {
        "type": "object",
        "properties": {
          "valid": {
            "type": "boolean"
          },
          "premium_status": {
            "type": "boolean"
          },
          "expires_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Habit": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "goal": {
            "type": "string"
          },
          "frequency": {
            "type": "string",
            "enum": ["daily", "weekly", "monthly"]
          },
          "streak": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "HabitCreate": {
        "type": "object",
        "required": ["name", "goal", "frequency"],
        "properties": {
          "name": {
            "type": "string"
          },
          "goal": {
            "type": "string"
          },
          "frequency": {
            "type": "string",
            "enum": ["daily", "weekly", "monthly"]
          }
        }
      },
      "Challenge": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "reward": {
            "type": "string"
          },
          "duration_days": {
            "type": "integer"
          }
        }
      },
      "HealthStatus": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": ["healthy", "degraded", "unhealthy"]
          },
          "database": {
            "type": "string"
          },
          "redis": {
            "type": "string"
          },
          "external_services": {
            "type": "object"
          }
        }
      },
      "ValidationError": {
        "type": "object",
        "properties": {
          "detail": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "loc": {
                  "type": "array",
                  "items": {
                    "anyOf": [
                      {"type": "string"},
                      {"type": "integer"}
                    ]
                  }
                },
                "msg": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    }
  }
}
