<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCRI7k1ATHDbpi-KEpJCx8pgAufcF7WVKk</string>
	<key>GCM_SENDER_ID</key>
	<string>147595998708</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mita.finance</string>
	<key>PROJECT_ID</key>
	<string>mita-finance</string>
	<key>STORAGE_BUCKET</key>
	<string>mita-finance.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:147595998708:ios:84d48c2591631b948335a1</string>
</dict>
</plist>
